*{
    font-family:"Roboto",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor{
    display: flex;
}

.main{
    display:flex;
    flex: 0 0 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
}

.main h2{
    font-size:45px;
    margin:0;
    padding: 1rem 0 0.5rem 0;
    color: #1b1f21;
}

.tamano_manos{
    width:15rem;
}

.contactos{
    display: flex;
    flex-direction:column;
    align-items: center;
    min-width: 20%;
    min-height: 100%;
}

.usuario_principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #BEC1BB;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
}

.usuario{
    display:flex;
    align-items: center;
}

.imagen_usuario{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #BEC1BB;
}

.nombre_estado{
    display:flex;
    flex-direction:column;
    align-items:start;
}

.nombre_estado h4{
    margin: 0.5rem 0 0.5rem 0.5rem;
    font-size: 1.3rem;
}


.nombre_estado p{
    font-size: 0.8rem;
    color: #828485;
    margin: 0 0 0.5rem 0.5rem;
}

.iconos{
    display:flex;
    color: #828485;
    align-items:center;
    justify-content: space-evenly;
}

.iconos i{
    padding:0.5rem;
    font-size: 1.5rem;
}

.boton{
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    border: 1px solid #BEC1BB;
    width: 100%;
}

button{
    background-color: #A491D2;
    color: white;
    border: none;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.3rem;
    cursor:pointer;
}

.chat{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BEC1BB;
    width: 100%;
    padding: 1rem 0 1rem 0;
}

.imagen_conversacion{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 1px solid #BEC1BB;
}

.nombre_conversacion{
    display:flex;
    flex-direction:column;
    color: #1b1f21;
    flex-basis: 70%;
}

.nombre_conversacion h4{
    margin: 0.5rem 0 0.5rem 0.5rem;
    font-size: 1.3rem;
}

.img_conv{
    display:flex;
    justify-content: flex-end;
    flex-basis:30%;
}

.nombre_conversacion p{
    font-size: 1rem;
    margin: 0 0 0.5rem 0.5rem;
}